
var template;

(function(){
  // prevents hogan from exporting it's self when testing in node
  exports = undefined

  {{{ hogan }}}

  template = function(name, context){
    context = context || {}

    var t = partials[name]

    if (! t) t = partials[name + '.mustache']
    if (! t) throw new Error('Missing template: ' + name)

    return t.render(context, partials)
  };

  var partials = {{{ partials }}}
}());
