<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>A different layout template than the default</title>
    <meta name="description" content="Just an example of how to use beardo">

    <script src="/templates.js"></script>
</head>
<body>
  <h1>Just a fancy layout for some fancy stuff.</h1>

  {{{ yield }}}
</body>
</html>
