<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Default template</title>
    <meta name="description" content="Just an example of how to use beardo">

    <script src="/templates.js"></script>
</head>
<body>
  {{{ yield }}}

  {{>shared/footer}}
</body>
</html>
