<p class="even-more-vanilla nested-partial">
  Three major cultivars of vanilla currently are grown globally, all of which derive from a species originally found in Mesoamerica, including parts of modern-day Mexico.[5] The various subspecies are Vanilla planifolia (syn. V. fragrans), grown on Madagascar, Réunion, and other tropical areas along the Indian Ocean; V. tahitensis, grown in the South Pacific; and V. pompona, found in the West Indies, and Central and South America.[6] The majority of the world's vanilla is the V. planifolia variety, more commonly known as Bourbon vanilla (after the former name of Réunion, Île Bourbon) or Madagascar vanilla, which is produced in Madagascar and neighboring islands in the southwestern Indian Ocean, and in Indonesia.[7][8] Leptotes bicolor is used in the same way in South America.
</p>
