<p>
  Initial attempts to cultivate vanilla outside Mexico and Central America proved futile because of the symbiotic relationship between the vanilla orchid and its natural pollinator, the local species of Melipona bee. Pollination is required to set the fruit from which the flavoring is derived. In 1837, Belgian botanist Charles François Antoine Morren discovered this fact and pioneered a method of artificially pollinating the plant. The method proved financially unworkable and was not deployed commercially.[3] In 1841, Edmond Albius, a 12-year-old slave who lived on the French island of Réunion in the Indian Ocean, discovered the plant could be hand-pollinated. Hand-pollination allowed global cultivation of the plant.
</p>

{{>even-more-vanilla}}
